---
import Layout from '@/layouts/Layout.astro';
import { IndexPage } from "@/components/IndexPage"
import { Toaster } from "@/components/ui/sonner"
import { ModeToggle } from "@/components/ui/mode-toggle"
---

<Layout title="UNJ Timetable | Penyusun KRS menjadi jadwal yang rapih!">
	<div class="fixed bottom-5 right-5">
    <ModeToggle align="center" client:load />
	</div>

	<div class="px-3 md:px-8 pt-6 flex flex-col items-center justify-center gap-5">
		<IndexPage client:idle />
	</div>
	
	<footer class="text-neutral-50 w-full bg-neutral-900  border-t flex flex-col md:flex-row md:items-center justify-center pl-5 h-28 md:h-20 md:py-0 md:pl-0 md:gap-2">
		<p>Developed by <a class="font-semibold" href="https://rmecha.my.id/" target="_blank" rel="noopener noreferrer">rmecha</a></p>
		<p class="hidden md:block">|</p>
		<p>APD Unit B 2024</p>
	</footer>
	<Toaster client:load />
</Layout>
